//Variables
$numero : 1;
$tamaño : 30px;
$tiempo : 20s;


//cadenas
$nombre : "Ángel";
$valor : "block";
$sexo : "Hombre";

//colores
$rojo : rgb(255, 255, 255);
$color_rgb : rgb(100, 192, 81);
$color_hex: #2f7060;

$borde : 10px dashed red;