doctype html 
html 
    head
        title Ejemplo
    body 
        h1 Encabezado 
        p.alert.
            !Hola 
            Mundo 
            Como 
            Estas
        ol 
            each item in ["Opci贸n 1", "Opci贸n 2", "Opci贸n 3", "Opci贸n n", ]
                li #{item}
        
        include condiciones
        include tabla 



